body{
    background-color: #FAF4D3;
    font-family: "Share Tech", sans-serif;

}

h1{
    text-align: center;
    color: #FAF4D3;
    background-color: #004643;
    margin-top: -8px;
    margin-left: -8px;
    margin-right: -8px;
}

p{
    text-align: left;
}

.share-tech-regular {
    font-family: "Share Tech", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
.color{
    color: red;
  }

  .border{
    border-style: dashed;
    text-align:left;
    color: #004643 ;
    padding-left: 20px;
  }
  .red{
    width: 100px;
    height: 100px;
    background-color: rgb(206, 165, 171);
    margin: 5px;
    display: inline-block;
  }
  .green{
    width: 100px;
    height: 100px;
    background-color: rgb(141, 206, 181);
    margin: 5px;
    display: inline-block;

  }
  .blue{
    width: 100px;
    height: 100px;
    background-color: rgb(165, 206, 206);
    margin: 5px;
    display:inline-block;

  }
  